.start__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0 0 16px;
  padding: 0;
  width: 100%;
  z-index: 30;
}

@media screen and (min-width: 768px) {
  .start__wrapper {
    gap: 40px;
  }
}
